
<div class="cover d-flex align-items-center justify-content-center">
  <div class="text-center">
    <strong><h1>ALL MY LISTS</h1></strong>
    <h3 class="typed-js"></h3>
  </div>
</div>
<div class="container py-5">
  <div class="d">
    <h3 class="mb-0">My Lists:</h3>
  </div>
  <% @lists.each do |list| %>
    <div class="row">
      <div class="col-sm-6 align-item-center text-center">
        <%= link_to list_path(list), class:'list-name' do %>
            <%= list.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<br>
<em><%= link_to "Create a new list", new_list_path, class: 'btn btn-flat' %> <br>

<br>
<%= link_to "See all movies", movies_path, class: 'btn btn-flat' %></em>
