// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


$background-color: hsl(0, 0%, 89%);
$spacer: 30px;


body {
  background: $background-color;
  font-family: Helvetica;
}

.cover {
  border: 1px solid #ccc;
  padding: $spacer;
  box-shadow: 0 0 1px;


}
